* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 341px;
  text-align: center;
  background-color: #e0e0e0;
  border: 1px solid #c5c5c5;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(60px, auto);
}

input[type="text"] {
  height: 75px;
  width: 341px;
  text-align: right;
  background: #858694;
  border: 1px solid #c5c5c5;
  color: #fff;
  font-size: 40px;
}

.highlight {
  background-color: #f5913e;
}

.bottom {
  position: absolute;
  top: 100%;
  height: 60px;
  width: 170px;
}

.bottomII,
.bottomIII {
  position: absolute;
  top: 100%;
  height: 60px;
  left: 171px;
  width: 85px;
}

.bottomIII {
  left: 254px;
}
